/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
FOOTER
-----------------------------------------------------------------*/

#footer {border-top: none;}

#copyrights {
    padding: 50px 0;
    background-color: #252525;
    font-size: 0.875rem;
    line-height: 1.8;
}

footer p {
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
}

p.fone {margin: 0 0 6px; font-size: 20px;}

footer h3 {
	color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 40px;
	line-height: 22px;
}

.icon-social {margin-right: 15px;}

p.legal-footer {
    font-size: 13px;
    line-height: 16px !important;	
    margin-top: 35px !important;
    width: 70%;
}

